/*Google Font*/
body {
	font-family: Open Sans, sans-serif;
}

/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*All HTML elements have default values for their margin and padding properties. Giving them the value of * makes it easuer for us to manipulate the size and positioning of elements.*/

nav {
	/*Shorthand property:  Apply padding on all sides*/
	padding: 0.8rem;
	/*Creates space between the nav and the intro section*/
	/*the margin-bottom property only changes the space at the bottom of the element. This is good for instances where a single space is needed to be changed*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}


/*Se;ector Combinator: Type_selector Class_selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline-block;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}
/*Even though we have access to the padding and margin properties when centering text horizontally, the text-align property is still better to use. Manipulating the padding and margin might affect non-text HTML tags to be added in the future, which would return unexpected results.*/

/*We have used descendant selector*/
#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	margin-top: 1rem;
}

/*The Selector used is a descendant selector. Even though there is only one button present in the page, this is appropriate as it helps in code readability telling the developer that the button is located in the intro section

The font-weight property changes the thickness of text.

The padding property is used here because we want to make the button larger by creatiing space from the text content to the borders of the button */


#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info .card {

/*Inline block allows the card to appear beside each other*/
	/*display: inline-block;*/
	vertical-align: top;
	/*Vertical align top allows our elements to be aligned at the top*/

	/*allows the cards to have equal height that adjust with the content*/
	min-height: 100px;

	/**/
	/*width: 30%;*/
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*Activity*/
#pre-footer div{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#pre-footer{
	background-color: #002540;
}

#pre-footer div{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 20%;
	color: white;
	padding: 1rem;
}

#pre-footer .follow {
	vertical-align: bottom;
}

#pre-footer .contact {
	width: 25%;
}







